# Build
build/
extension/
node_modules/

# Ignore node_modules in all subdirectories
**/node_modules/
**/build/
**/extension/
# Visual Studio Code
.vscode/

# npm logs
npm-debug.log*

# yarn uses its own yarn.lock file
package-lock.json
yarn.lock

# yarn logs
yarn-error.log

# chrome debug
debug.log

# environment file
.env

.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
version
*.local

# Ignore Vite configuration file
.vscode
.history
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
public/version.json
vite.config.ts
auto-imports.d.ts
